################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/BolyWood/v15/Server/sqlite3
/Methode/Migrations
/Methode/obj/Debug
